{% extends 'base.html' %}
{% block content %}
   <section id="base">
       <div class="base_db">
           <div class="container">
               <div class="row">
                   <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                       <div class="db_create">
                             <form method="POST" action="create/">
                                 {% csrf_token %}
                                <input required type="text" name="name" placeholder="Название" size="70"><br/>
                            
                                <input  required type="text" name="country" placeholder="Страна" size="70"><br/>

                                <input required type="text" name="manufacturer" placeholder="Производитель" size="70"><br/>

                                <input required type="text" name="purpose" placeholder="Назначение" size="70"><br/>

                                <input required type="text" name="orbit" placeholder="Орбита" size="70"><br/>

                                <input required type="text" name="year" placeholder="Год запуска" size="70"><br/>

                                <input id="submit" type="submit" value="Добавить">
                            </form>

                       </div>
                   </div>
               </div>
           </div>
       </div>
   </section>
{% endblock %}