{% extends 'base.html' %}
{% block content %}

   <section id="base">
       <div class="base_db">
           <div class="container">
               <div class="row">
                   <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                       <table border="1" class="db_integration">
                           <tr><th class="names_table">Название</th>
                               <th class="names_table">Страна</th>
                               <th class="names_table">Производитель</th>
                               <th class="names_table">Задача</th>
                               <th class="names_table">Орбита</th>
                               <th class="names_table">Год запуска</th>
                               <th class="names_table">Удаление объекта</th></tr>
                           {% for item in spacecrafts_list %}
                               <tr><td><a class="full_info" href="info/{{item.id}}">{{ item.name }}</a></td>
                                   <td>{{item.country }}</td>
                                   <td>{{item.manufacturer }}</td>
                                   <td>{{item.purpose }}</td>
                                   <td>{{item.orbit }}</td><td>{{item.year }}</td>
                                   <td><a class="trash" href="delete/{{item.id}}"><i class="fa fa-trash-o" aria-hidden="true"></i></a></td></tr>
                           {% endfor %}
                       </table>
                   </div>
               </div>
           </div>
       </div>
   </section>
{% endblock %}
